rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email in [
        'y.m.huang0128@gmail.com'
      ];
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
