rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email in [
        'y.m.huang0128@gmail.com'
      ];
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
